*{
	margin: 0;
	padding: 0;
}
/*header satrt*/
header {
	
	background-color: #525253;
	padding: 30px 0px;
	overflow: hidden;

}


.logo {
	float: left;
	width: 30%;

}
.logo_img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #BDBEC0;
	margin-left: 10px;
}



.nav {
	float: right;
	margin-top: 10px;
}
.nav ul {
 	list-style: none;
 	float: right;

}
.nav ul li {
	float: left;


}
.nav ul li a {
	text-decoration: none;
	background-color:#BEBDC2 ;
	display: block;
	height: 30px;
	width: 100px;
	margin-right: 30px;
}
/*header end*/

/*banner start*/

 .banner {
 	width: 100%;
 	min-height: 200px;
 	background-color: #BDBEC0;
 }

 .banner h1 {
 	text-align: center;
 	font-size: 40px;
 	padding: 70px 0px;
 }

 /*banner end*/

 /*service start*/

 /*service top start*/

 .service {}

 .wrapper {
 	width: 80%;
 	margin: 0 auto;
 }

 .service {
 	margin: 40px 0px;
 }

 .heading {
 	border: 1px solid black;
 	min-height: 30px;
 	background-color: gray;
 	border: transparent;
 	border-radius: 5px;
 }

 .para {
 	border: 1px solid black;
 	min-height: 10px;
 	background-color: #BDBEC0;
 	border: transparent;
 	margin-top: 10px;
 	border-radius: 5px;
 }

 .para:last-child {
 	width: 80%;
 }

 /*service top end*/

 /*service middle start*/
 
 .service_middle_top{
	margin-top: 30px;
 }
 .pad{
 	padding-left: 7px;
 }
 .first{
 	margin-top: 15px;
 	margin-bottom: 20px;
 }
 .sm_heading {
 	min-height: 20px;
 	background-color: gray;
 	border: transparent;
 	border-radius: 5px;
 }

 .sm_para{
 	width: 100%;
 	min-height: 10px;
 	background-color: #BDBEC0;
 	margin-top: 10px;
 	border-radius: 5px;
 }
.sm_para:nth-child(5) {
	width: 80%;
}

 .sm_heading1 {
 	border: 1px solid black;
 	min-height: 20px;
 	background-color: gray;
 	border: transparent;
 	border-radius: 5px;
 	margin-top: 20px;
 }

 .service_middle_right {
 	width: 100%;
 	min-height: 176px;
 	background-color: #BDBEC0;
 }

 /*service middle end*/

 /*service bottom start*/
 .service_bottom{
 	margin: 30px 0px;
 }
 .single_bottom {
 	width: 100%;
 	min-height: 180px;
 	background-color: #BDBEC0;
 }
 /*service bottom end*/
 /*service end*/

 /*footer start*/

 footer {
 	margin-top: 30px;
 	margin-bottom: 10px;
 }
 .footer{
 	width: 100%;
 	min-height: 150px;
 	background-color: #BDBEC0;
 }

 /*footer end*/